<form action="/pirates" method="post">
    Pirate Name: <input type="text" id="name" name="pirate[name]">
    Pirate Weight: <input type="text" id="weight" name="pirate[weight]">
    Pirate Height: <input type="text" id="height" name="pirate[height]">

    Ship One Name: <input type="text" id="ship_name_1" name="pirate[pine][][name]">
    Ship One Type: <input type="text" id="ship_type_1" name="pirate[pine][][type]">
    Ship One Booty: <input type="text" id="ship_booty_1" name="pirate[pine][][booty]">

    Ship Two Name: <input type="text" id="ship_name_2" name="pirate[pine][][name]">
    Ship Two Type: <input type="text" id="ship_type_2" name="pirate[pine][][type]">
    Ship Two Booty: <input type="text" id="ship_booty_2" name="pirate[pine][][booty]">
  <input type="submit" id="submit" value="Submit">
</form>
